DATABASE_URL="file:./dev.db"
ADMIN_LOGIN="admin"
ADMIN_PASSWORD="change-me-strong-password"
ADMIN_PATH="/site-panel-2026"
NEXT_PUBLIC_SITE_PHONE="+7 989 271-51-11"
NEXT_PUBLIC_SITE_WHATSAPP="79892715111"
